# IMPORTANT: NEVER PUT SENSITIVE INFORMATION/SECRETS IN `VITE_` PREFIXED ENV VARIABLES
# All variables prefixed with VITE_ are exposed to client-side code

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=fenway_health_user
POSTGRES_PASSWORD=12345678
POSTGRES_DB=proj_fh


# Swagger UI: set to true only in local and staging — not in production.
SWAGGER_ENABLED=false
